  <!--非同期化通信のため部分テンプレート化-->
  <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center; margin: 2px;">
      <span><%= m.member.name %>　</span>
      <span><%= m.created_at.localtime('+09:00').strftime('%Y-%m-%d %H:%M:%S') %></span>
    <div class="message-content" style="flex-grow: 1; margin-left: 10px;">
      <%= m.body %>
    </div>
  </li>