<div class="container">
  <div class="row row justify-content-center m-2">
    <h3>猫一覧</h3>

    <div class="container">
      <div class="row justify-content-center">

        <table><tr>
          <% @cats.each do |cat| %>
            <td>
              <%= link_to cat_path(cat.id) do %>
              <table>
                <tr><td><%= image_tag cat.get_image, size: "100x100" %></td></tr>
                <tr><td><%= cat.name %></td></tr>
              </table>
              <% end %>
            </td>
          <% end %>
          </tr>
        </table>

      </div>
    </div>
  </div>
<div>