<div class="container my-3">
  <div class="row">
    <div class="col">

      <h1>Room一覧</h1>
      <ul>
        <% @rooms.each do |room| %>
        <li><%= link_to room.id, admin_room_path(room), style: "font-size: 25px;" %></li>
        <% end %>
      </ul>

    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @rooms %>
  </div>
</div>