<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-center mt-2">About</h1>
      <p class="text-center">
        Our catsは猫仲間と出会えるサイトです。<br>
        遠出する時やいざという時に助け合い、お世話し合って皆で猫の成長を見守りましょう。<br>
        <br>
        また、遠出が心配で飼うか迷っている方にもサービスを知ってもらい<br>
        背中を押してあげられるきっかけになればと思います。<br><br>
        当サイトは皆さまに安心してご利用頂けるように本人確認による制限を設けております。<br>
        ご登録をお願い致します。
      </p>
      <div class = "text-center mb-4">
        <%= image_tag "newギャオ小.jpg", size: "640x480" %>
      </div>
    </div>
  </div>
</div>