<div class="container">
  <div class="row">
    <div class="mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", members_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
      <div class="card">
        <%= image_tag "cat.jpg",class: "card-img", size:"400x450" %>

          <div class="m-auto">
            <p class="text-center">Our cats<br>
                                ~皆の猫は私たちの猫~<br>
                                旅行、出張、災害時など<br>
                                いざという時に助け合える仲間と出会えるサイトです<br>

            </p>
          </div>

      </div>
    </div>
  </div>
</div>