<div class="container">
  <div class="row justify-content-center mt-3">
    <h3>依頼一覧</h3>
  </div>

            <div class="row ml-5">
              <% @requests.each do |request| %>
                <div class="col-3">
                  <div>
                    <%= link_to request_path(request.id) do %>
                     <%= image_tag request.member.get_profile_image, size:"150x150" %>
                    <% end %>
                  </div>
                  <div><%=  request.season %></div>
                </div>
              <% end %>
            </div>


</div>