  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1 class="mt-5">404 Not Found</h1>
        <p>ごめんなさい、お探しのページは見つかりませんでした。</p>
        <p class="emoji display-1">😿</p>
      </div>
    </div>
  </div>