@use '~bootstrap/scss/bootstrap';
header {
  background-color: #efe7de;
}

main {
  background-color: white;
}

body {
  font-family: cursive;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面の高さいっぱいに設定 */
}

footer {
  background-color: #efe7de;

}
